@font-face {
    font-family: Anton-Regular;
    src: url(../font/Anton-Regular.ttf);
}
.searchPage {
    background-image: url("../img/background.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
}
.searchPage #form-search {
    text-align: center;
}
.searchPage #form-search #label-search {
    font-size: 8vmin;
    margin-bottom: 10px;
    color: white;
    font-family: Anton-Regular;
}
.searchPage #form-search #nor-search {
    position: relative;
}
.searchPage #form-search #nor-search button {
    position: absolute;
    outline: none !important;
    padding: 0 15px;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    height: 100%;
    border: 1px solid #adadad;
    color: #adadad;
    transition: all .3s;
    cursor: pointer;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.searchPage #form-search #nor-search button:hover {
    color: white;
    background-color: #adadad;
}
.searchPage #form-search #nor-search input {
    padding-left: 15px;
    padding-right: 45px;
}
.searchPage #form-search #nor-search, .searchPage #form-search #adv-search>div>div {
    margin-bottom: 20px;
}
.searchPage #form-search input, .searchPage #form-search select {
    width: 100%;
    font-size: 1.1em;
    border: 1px solid #adadad;
    padding: 10px 5px;
    outline: none !important;
    transition: all .3s;
    cursor: pointer;
    color: #555;
    background-color: white;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.searchPage #form-search #adv-search {
    display: none;
}
.searchPage #form-search #adv-search select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
.searchPage #form-search #adv-search select option {
    width: 100%}
.searchPage #form-search #adv-search select::-ms-expand {
    display: none;
}
.searchPage #form-search #adv-search div>div {
    position: relative;
}
.searchPage #form-search #adv-search i {
    position: absolute;
    top: 0;
    right: 15px;
    pointer-events: none;
    height: 100%;
    top: 35%;
    color: #555;
}
.searchPage #form-search #adv-toggle {
    text-align: right;
    margin-bottom: 15px;
    margin-top: -15px;
}
.searchPage #form-search #adv-toggle a {
    text-decoration: none;
    color: white;
    transition: all .3s;
}
.searchPage #form-search #adv-toggle a:hover {
    color: #FFC657;
    color: #adadad;
}
content .container {
    padding-top: 30px;
    padding-bottom: 30px;
}
content .container table tr *:nth-child(3), content .container table tr *:nth-child(4) {
    display: none;
}
@media (min-width: 768px) {
    content .container table tr *: nth-child(4) {
    display: table-cell;
}
}@media (min-width: 992px) {
    content .container table tr *: nth-child(3), content .container table tr *:nth-child(4) {
    display: table-cell;
}
}
