header {
    padding-top: 100px;
    background-image: url('../img/background.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    position: relative;
}

.cover {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(34,34,34, .3);
}

.cus-h1 {
    margin-top: 0;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 1.8;
    opacity: 1;
    color: #fff;
}

.cus-input {
    height: 46px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    outline: none !important;
    border-radius: 0px;
    border: 2px solid;
    background: transparent;
    transition: all .3s;
    width: 100%;
}

.cus-light::placeholder {
    color: rgba(255,255,255, .7);
}

.cus-light {
    border-color: rgba(255,255,255, .7);
    color: rgba(255,255,255, .7);
}

.cus-light:hover, .cus-light:focus {
    border-color: #fff;
    color: #fff;
}

.cus-btn-search {
    height: 46px;
    text-align: center;
    width: 46px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 46px;
    border-left: 2px solid;
    cursor: pointer;
    background: transparent;
    transition: all .4s;
}

.cus-btn-search:hover {
    color: #000000;
    background: #fff;
}

#adv-toggle {
    color: rgba(255,255,255, .7);
    text-decoration: none;
    transition: all .3s;
}

#adv-toggle:hover {
    color: #fff;
}

#adv-search option {
    color: black;
}

.pagination {
    list-style: none;
}

.pagination li {
    display: inline-block;
}

#copyright {
    padding: 10px 0;
    background: #3737ff;
    color: #fff;
}

#copyright p {
    margin: 0;
}

.cus-cen {
    display: block;
    text-align: left;
}

/* following bootstrap 3, col-md */
@media (min-width: 992px) {
    .cus-cen {
        display: inline-block;
        text-align: left;
    }
}

.cus-cen ul {
    list-style: none;
    padding: 0;
}

footer {
    border-top: 3px solid #3737ff;
    padding-top: 30px;
}

.main-nav.cus-blue {
    background-color: #3737ff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: rgba(255,255,255, .7);
}

body {
    padding: 0 !important;
}

.tpl-tabs li {
    width: 50%;
    text-align: center;
    float: left !important;
}

.cus-mes {
    color: #ff5c00;
    text-align: right;
    font-size: 0.95em;
}

.cus-error-field {
    border-color: rgba(255, 0, 0, 0.7) !important;
    -webkit-box-shadow: 0 0 3px rgba(255, 0, 0, 0.3) !important;
    -moz-box-shadow: 0 0 3px rgba(0,0,0, .3) !important;
    box-shadow: 0 0 3px rgba(255, 0, 0, 0.3) !important;
    outline: none !important;
}

body.modal-open {
    overflow: visible;
}

/* css react-select */
.css-rsyb7x input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.css-1492t68 {
    letter-spacing: 1px;
}

/* css react datepicker */
.react-datepicker {
    font-size: 1.3rem !important;
}
  
.react-datepicker__current-month {
    font-size: 1.5rem !important;
}
  
.react-datepicker__header {
    padding-top: 6px !important;
}
  
.react-datepicker__navigation {
    top: 13px !important;
}
  
.react-datepicker__day-name, .react-datepicker__day {
    padding: 6px;
    box-sizing: content-box;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100% !important;
}

.react-datepicker__day:hover {
    background-color: #9997;
}